@page
@model AspDotNetCoreCRUDOpration.Pages.Clients.EditModel
@{
}
<br />
<h2>Edit Client</h2>
@if (Model.ErrorMessage.Length > 0)
{<div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.ErrorMessage</strong>
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
    </div>
}




<form method="post">

    <input type="hidden"name="id"value="@Model.clientInfo.Id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Name" value="@Model.clientInfo.Name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Email" value="@Model.clientInfo.Email" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Phone" value="@Model.clientInfo.Phone" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Address" value="@Model.clientInfo.Address" />
        </div>
    </div>


    @if (Model.SuccessMessage.Length > 0)
    {<div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.SuccessMessage</strong>
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>

        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Clients/Index/" role="button">Cancel</a>
        </div>
    </div>

</form>